{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
        <h1 class="text-center">Register</h1>
        <br/>
        <form method="POST" action="">
            {% csrf_token %}
            
            <!-- Username Field -->
            <div class="mb-3">
                {% comment %} <label for="id_username" class="form-label">Username</label> {% endcomment %}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- First Name Field -->
            <div class="mb-3">
                {% comment %} <label for="id_first_name" class="form-label">First Name</label> {% endcomment %}
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Last Name Field -->
            <div class="mb-3">
                {% comment %} <label for="id_last_name" class="form-label">Last Name</label> {% endcomment %}
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Email Field -->
            <div class="mb-3">
                {% comment %} <label for="id_email" class="form-label">Email</label> {% endcomment %}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Password Field -->
            <div class="mb-3">
                {% comment %} <label for="id_password1" class="form-label">Password</label> {% endcomment %}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Confirm Password Field -->
            <div class="mb-3">
                {% comment %} <label for="id_password2" class="form-label">Confirm Password</label> {% endcomment %}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
